/* @import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9791 0 0);
  --foreground: oklch(0.2178 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2393 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2393 0 0);
  --primary: oklch(0.8893 0.1777 95.2779);
  --primary-foreground: oklch(0.2178 0 0);
  --secondary: oklch(0.9612 0 0);
  --secondary-foreground: oklch(0.2178 0 0);
  --muted: oklch(0.9401 0 0);
  --muted-foreground: oklch(0.4640 0 0);
  --accent: oklch(0.9617 0.0592 95.8853);
  --accent-foreground: oklch(0.2178 0 0);
  --destructive: oklch(0.5433 0.1740 29.6967);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9006 0 0);
  --input: oklch(0.9006 0 0);
  --ring: oklch(0.8893 0.1777 95.2779);
  --chart-1: oklch(0.8893 0.1777 95.2779);
  --chart-2: oklch(0.4490 0.0405 250.0452);
  --chart-3: oklch(0.4999 0.0802 180.1312);
  --chart-4: oklch(0.8494 0.0104 58.1918);
  --chart-5: oklch(0.6001 0.0492 249.6616);
  --sidebar: oklch(0.9791 0 0);
  --sidebar-foreground: oklch(0.2178 0 0);
  --sidebar-primary: oklch(0.8893 0.1777 95.2779);
  --sidebar-primary-foreground: oklch(0.2178 0 0);
  --sidebar-accent: oklch(0.9766 0.0410 96.5830);
  --sidebar-accent-foreground: oklch(0.2178 0 0);
  --sidebar-border: oklch(0.9006 0 0);
  --sidebar-ring: oklch(0.8893 0.1777 95.2779);
  --font-sans: Inter, sans-serif;
  --font-serif: Inter, serif;
  --font-mono: Inter, ui-sans-serif, sans-serif, system-ui;
  --radius: 1.4rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.01;
  --shadow-color: #000000;
  --shadow-2xs: 0px 2px 12px 0px hsl(0 0% 0% / 0.01);
  --shadow-xs: 0px 2px 12px 0px hsl(0 0% 0% / 0.01);
  --shadow-sm: 0px 2px 12px 0px hsl(0 0% 0% / 0.01), 0px 1px 2px -1px hsl(0 0% 0% / 0.01);
  --shadow: 0px 2px 12px 0px hsl(0 0% 0% / 0.01), 0px 1px 2px -1px hsl(0 0% 0% / 0.01);
  --shadow-md: 0px 2px 12px 0px hsl(0 0% 0% / 0.01), 0px 2px 4px -1px hsl(0 0% 0% / 0.01);
  --shadow-lg: 0px 2px 12px 0px hsl(0 0% 0% / 0.01), 0px 4px 6px -1px hsl(0 0% 0% / 0.01);
  --shadow-xl: 0px 2px 12px 0px hsl(0 0% 0% / 0.01), 0px 8px 10px -1px hsl(0 0% 0% / 0.01);
  --shadow-2xl: 0px 2px 12px 0px hsl(0 0% 0% / 0.03);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1398 0 0);
  --foreground: oklch(0.9850 0.0041 91.4457);
  --card: oklch(0.1822 0 0);
  --card-foreground: oklch(0.9850 0.0041 91.4457);
  --popover: oklch(0.1822 0 0);
  --popover-foreground: oklch(0.9850 0.0041 91.4457);
  --primary: oklch(0.8893 0.1777 95.2779);
  --primary-foreground: oklch(0.1398 0 0);
  --secondary: oklch(0.2221 0 0);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.2221 0 0);
  --muted-foreground: oklch(0.6830 0 0);
  --accent: oklch(0.2221 0 0);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.5433 0.1740 29.6967);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2520 0 0);
  --input: oklch(0.2520 0 0);
  --ring: oklch(0.8893 0.1777 95.2779);
  --chart-1: oklch(0.8893 0.1777 95.2779);
  --chart-2: oklch(0.5799 0.0496 249.6959);
  --chart-3: oklch(0.6001 0.0802 180.0405);
  --chart-4: oklch(0.8494 0.0104 58.1918);
  --chart-5: oklch(0.6990 0.0505 250.4634);
  --sidebar: oklch(0.1398 0 0);
  --sidebar-foreground: oklch(0.8514 0 0);
  --sidebar-primary: oklch(0.8893 0.1777 95.2779);
  --sidebar-primary-foreground: oklch(0.1398 0 0);
  --sidebar-accent: oklch(0.2002 0 0);
  --sidebar-accent-foreground: oklch(0.8893 0.1777 95.2779);
  --sidebar-border: oklch(0.2520 0 0);
  --sidebar-ring: oklch(0.8893 0.1777 95.2779);
  --font-sans: Inter, sans-serif;
  --font-serif: Inter, serif;
  --font-mono: Inter, ui-sans-serif, sans-serif, system-ui;
  --radius: 1.4rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 16px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.01;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 16px 0px hsl(0 0% 0% / 0.01);
  --shadow-xs: 0px 4px 16px 0px hsl(0 0% 0% / 0.01);
  --shadow-sm: 0px 4px 16px 0px hsl(0 0% 0% / 0.01), 0px 1px 2px -1px hsl(0 0% 0% / 0.01);
  --shadow: 0px 4px 16px 0px hsl(0 0% 0% / 0.01), 0px 1px 2px -1px hsl(0 0% 0% / 0.01);
  --shadow-md: 0px 4px 16px 0px hsl(0 0% 0% / 0.01), 0px 2px 4px -1px hsl(0 0% 0% / 0.01);
  --shadow-lg: 0px 4px 16px 0px hsl(0 0% 0% / 0.01), 0px 4px 6px -1px hsl(0 0% 0% / 0.01);
  --shadow-xl: 0px 4px 16px 0px hsl(0 0% 0% / 0.01), 0px 8px 10px -1px hsl(0 0% 0% / 0.01);
  --shadow-2xl: 0px 4px 16px 0px hsl(0 0% 0% / 0.03);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
} */


@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9791 0 0);
  --foreground: oklch(0.2178 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2393 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2393 0 0);
  --primary: oklch(0.8893 0.1777 95.2779);
  --primary-foreground: oklch(0.2178 0 0);
  --secondary: oklch(0.9612 0 0);
  --secondary-foreground: oklch(0.2178 0 0);
  --muted: oklch(0.9401 0 0);
  --muted-foreground: oklch(0.4640 0 0);
  --accent: oklch(0.9617 0.0592 95.8853);
  --accent-foreground: oklch(0.2178 0 0);
  --destructive: oklch(0.5433 0.1740 29.6967);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9006 0 0);
  --input: oklch(0.9006 0 0);
  --ring: oklch(0.8893 0.1777 95.2779);
  --chart-1: oklch(0.8893 0.1777 95.2779);
  --chart-2: oklch(0.4490 0.0405 250.0452);
  --chart-3: oklch(0.4999 0.0802 180.1312);
  --chart-4: oklch(0.8494 0.0104 58.1918);
  --chart-5: oklch(0.6001 0.0492 249.6616);
  --sidebar: oklch(0.9791 0 0);
  --sidebar-foreground: oklch(0.2178 0 0);
  --sidebar-primary: oklch(0.8893 0.1777 95.2779);
  --sidebar-primary-foreground: oklch(0.2178 0 0);
  --sidebar-accent: oklch(0.9766 0.0410 96.5830);
  --sidebar-accent-foreground: oklch(0.2178 0 0);
  --sidebar-border: oklch(0.9006 0 0);
  --sidebar-ring: oklch(0.8893 0.1777 95.2779);
  --font-sans: Inter, sans-serif;
  --font-serif: Inter, serif;
  --font-mono: Inter, ui-sans-serif, sans-serif, system-ui;
  --radius: 0.625rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1398 0 0);
  --foreground: oklch(0.9850 0.0041 91.4457);
  --card: oklch(0.1822 0 0);
  --card-foreground: oklch(0.9850 0.0041 91.4457);
  --popover: oklch(0.1822 0 0);
  --popover-foreground: oklch(0.9850 0.0041 91.4457);
  --primary: oklch(0.8893 0.1777 95.2779);
  --primary-foreground: oklch(0.1398 0 0);
  --secondary: oklch(0.2221 0 0);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.2221 0 0);
  --muted-foreground: oklch(0.6830 0 0);
  --accent: oklch(0.2221 0 0);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.5433 0.1740 29.6967);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2520 0 0);
  --input: oklch(0.2520 0 0);
  --ring: oklch(0.8893 0.1777 95.2779);
  --chart-1: oklch(0.8893 0.1777 95.2779);
  --chart-2: oklch(0.5799 0.0496 249.6959);
  --chart-3: oklch(0.6001 0.0802 180.0405);
  --chart-4: oklch(0.8494 0.0104 58.1918);
  --chart-5: oklch(0.6990 0.0505 250.4634);
  --sidebar: oklch(0.1398 0 0);
  --sidebar-foreground: oklch(0.8514 0 0);
  --sidebar-primary: oklch(0.8893 0.1777 95.2779);
  --sidebar-primary-foreground: oklch(0.1398 0 0);
  --sidebar-accent: oklch(0.2002 0 0);
  --sidebar-accent-foreground: oklch(0.8893 0.1777 95.2779);
  --sidebar-border: oklch(0.2520 0 0);
  --sidebar-ring: oklch(0.8893 0.1777 95.2779);
  --font-sans: Inter, sans-serif;
  --font-serif: Inter, serif;
  --font-mono: Inter, ui-sans-serif, sans-serif, system-ui;
  --radius: 0.625rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  @page {
    size: 80mm auto;
    margin: 0;
  }
}

/* @import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1773 0.0089 264.3183);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1773 0.0089 264.3183);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1773 0.0089 264.3183);
  --primary: oklch(0.6643 0.1372 71.3484);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9670 0.0029 264.5419);
  --secondary-foreground: oklch(0.2781 0.0296 256.8480);
  --muted: oklch(0.9670 0.0029 264.5419);
  --muted-foreground: oklch(0.5510 0.0234 264.3637);
  --accent: oklch(0.9474 0.0465 85.1922);
  --accent-foreground: oklch(0.6643 0.1372 71.3484);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9276 0.0058 264.5313);
  --input: oklch(0.9276 0.0058 264.5313);
  --ring: oklch(0.6643 0.1372 71.3484);
  --chart-1: oklch(0.6643 0.1372 71.3484);
  --chart-2: oklch(0.2795 0.0368 260.0310);
  --chart-3: oklch(0.4455 0.0374 257.2808);
  --chart-4: oklch(0.7107 0.0351 256.7878);
  --chart-5: oklch(0.8690 0.0198 252.8943);
  --sidebar: oklch(0.9846 0.0017 247.8389);
  --sidebar-foreground: oklch(0.2101 0.0318 264.6645);
  --sidebar-primary: oklch(0.6643 0.1372 71.3484);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9670 0.0029 264.5419);
  --sidebar-accent-foreground: oklch(0.6643 0.1372 71.3484);
  --sidebar-border: oklch(0.9276 0.0058 264.5313);
  --sidebar-ring: oklch(0.6643 0.1372 71.3484);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1593 0.0066 270.9811);
  --foreground: oklch(100% 0.00011 271.152);
  --card: oklch(0.2135 0.0103 268.1991);
  --card-foreground: oklch(0.9842 0.0034 247.8575);
  --popover: oklch(0.2135 0.0103 268.1991);
  --popover-foreground: oklch(0.9842 0.0034 247.8575);
  --primary: oklch(0.6643 0.1372 71.3484);
  --primary-foreground: oklch(0.1593 0.0066 270.9811);
  --secondary: oklch(0.2514 0.0163 264.2230);
  --secondary-foreground: oklch(0.9842 0.0034 247.8575);
  --muted: oklch(0.2514 0.0163 264.2230);
  --muted-foreground: oklch(0.7107 0.0351 256.7878);
  --accent: oklch(0.2758 0.0182 262.1965);
  --accent-foreground: oklch(0.6643 0.1372 71.3484);
  --destructive: oklch(0.3958 0.1331 25.7230);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.2758 0.0182 262.1965);
  --input: oklch(0.2758 0.0182 262.1965);
  --ring: oklch(0.6643 0.1372 71.3484);
  --chart-1: oklch(0.6643 0.1372 71.3484);
  --chart-2: oklch(0.7952 0.1617 86.0468);
  --chart-3: oklch(0.7576 0.1590 55.9344);
  --chart-4: oklch(0.6658 0.1574 58.3183);
  --chart-5: oklch(0.4732 0.1247 46.2007);
  --sidebar: oklch(0.1773 0.0089 264.3183);
  --sidebar-foreground: oklch(0.9842 0.0034 247.8575);
  --sidebar-primary: oklch(0.6643 0.1372 71.3484);
  --sidebar-primary-foreground: oklch(0.1593 0.0066 270.9811);
  --sidebar-accent: oklch(0.2514 0.0163 264.2230);
  --sidebar-accent-foreground: oklch(0.6643 0.1372 71.3484);
  --sidebar-border: oklch(0.2758 0.0182 262.1965);
  --sidebar-ring: oklch(0.6643 0.1372 71.3484);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 10px;
  --shadow-blur: 20px;
  --shadow-spread: 2px;
  --shadow-opacity: 0.5;
  --shadow-color: #000000;
  --shadow-2xs: 0px 10px 20px 2px hsl(0 0% 0% / 0.25);
  --shadow-xs: 0px 10px 20px 2px hsl(0 0% 0% / 0.25);
  --shadow-sm: 0px 10px 20px 2px hsl(0 0% 0% / 0.50), 0px 1px 2px 1px hsl(0 0% 0% / 0.50);
  --shadow: 0px 10px 20px 2px hsl(0 0% 0% / 0.50), 0px 1px 2px 1px hsl(0 0% 0% / 0.50);
  --shadow-md: 0px 10px 20px 2px hsl(0 0% 0% / 0.50), 0px 2px 4px 1px hsl(0 0% 0% / 0.50);
  --shadow-lg: 0px 10px 20px 2px hsl(0 0% 0% / 0.50), 0px 4px 6px 1px hsl(0 0% 0% / 0.50);
  --shadow-xl: 0px 10px 20px 2px hsl(0 0% 0% / 0.50), 0px 8px 10px 1px hsl(0 0% 0% / 0.50);
  --shadow-2xl: 0px 10px 20px 2px hsl(0 0% 0% / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
} */